<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Add Your recipe!</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.js"></script>
        {% load staticfiles %}
        <script src="{% static 'cooking_app/js/js.cookie.js' %}"></script>
        <style type="text/css">
        	a:visited {
        		color: black;
        	}
        	#header li{
        		list-style: none;
        		display: inline-block;
        		margin-right: 20px;
        	}
        	#header{
        		display:inline-block;
        		text-align: center;
        		width: 1080px;
        	}
        	#title {
        		font-size: 2em;
        	}
        	#name {
        		font-size: 1.25em;
        		text-decoration: none;
        	}
            input[type=number]{
                width: 30px;
            }
            input[type=number], input[type=text], textarea{
                border: none;
                background-color: #eaeaea;
                outline-width: medium;
            }
            label, select, input{
                vertical-align: top;
            }
        </style>
        <script>
            $(document).ready(function(){
                $('form').submit(function(e){
                    e.preventDefault();
                    $.post(this.action, $(this).serialize(), function(serverResponse){
                        $('body').html(serverResponse)
                    })
                })
                $( ".update_step" ).focusout(function() {
                    // $(selector).post(URL,data,function(data,status,xhr),dataType)
                    // var id = this.id
                    $.post(this.action, $(this).serialize(), function(serverResponse){
                        var ParsedElements = jQuery.parseHTML(serverResponse);
                        // $('#'+id).html($("<html/>").html(ParsedElements).find('#'+id));
                        // $('body').html(serverResponse)
                    })
                })
                $('.link').click(function(e){
                    e.preventDefault();
                    $.get($(this).attr('href'), function(serverResponse){
                        $('#div_'+serverResponse.to_delete).remove()
                    })
                })
            })
        </script>
    </head>
    <body>
        <div id="header">
    		<p>Welcome to <span id="title">potLuck</span>,</p>
    		<p><a id="name" href="{% url 'potluck:show_user' id=user.id %}">{{user.first_name}}</a></p>
    		<ul>
    			<li><a href="{% url 'potluck:index' %}">Home</a></li>
    			<li><a href="{% url 'potluck:show_user' id=request.session.id %}">Profile</a></li>
    			<li><a href="{% url 'potluck:logout' %}">Logout</a></li>
    		</ul>
    	</div>
        {% if messages %}
            {% for message in messages %}
                <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
            {% endfor %}
        {% endif %}
        <form id="update_recipe" action="{% url 'potluck:edit_recipe' recipe_id=recipe.id%}" method="post">
            {% csrf_token %}
            <label>Recipe Title: <input type="text" name="title" value="{{recipe.title}}"></label><br>
            <label>Prep Time: <input type="number" name="prep_time_hour" value="{{recipe.prep_time_hour}}" min="0"> hrs </label>
            <label><input type="number" name="prep_time_minute" value="{{recipe.prep_time_minute}}" min="0"> min</label><br>
            <label>Cook Time: <input type="number" name="cook_time_hour" value="{{recipe.cook_time_hour}}" min="0"> hrs</label>
            <label><input type="number" name="cook_time_minute" value="{{recipe.cook_time_minute}}" min="0"> min</label><br>
            <label>Description: <textarea name="description" rows="3" cols="25">{{recipe.description}}</textarea></label><br>
            <input type="submit" value="Update Recipe">
        </form>
        <hr>
        <div id="steps">
            <h3>Update your steps</h3>
            {% for step in steps %}
                <div id="div_{{step.id}}" class="step">
                    <form id='{{step.id}}' class='update_step' action="{% url 'potluck:update_step' step_id=step.id%}" method="post">
                        {% csrf_token %}
                        <label>Step #{{ forloop.counter }}</label>
                        <label>Measurement: <select name='measurement'>
                            {% for measurement in measurements %}
                                {% if measurement ==  step.measurement %}
                                    <option selected="selected" value="{{measurement.id}}">{{measurement.measurement}}</option>
                                {% else %}
                                    <option value="{{measurement.id}}">{{measurement.measurement}}</option>
                                {% endif %}
                            {% endfor %}
                        </select></label>
                        <input type="text" name="new_measurement" placeholder="Add new measurement">
                        <label>Ingredient: <select name='ingredient'>
                            {% for ingredient in ingredients %}
                                {% if ingredient ==  step.ingredient %}
                                    <option selected="selected" value="{{ingredient.id}}">{{ingredient.ingredient}}</option>
                                {% else %}
                                    <option value="{{ingredient.id}}">{{ingredient.ingredient}}</option>
                                {% endif %}
                            {% endfor %}
                        </select></label>
                        <input type="text" name="new_ingredient" placeholder="Add new ingredient">
                        <label>Description: <textarea name="description" rows="3" cols="25">{{step.description}}</textarea></label>
                        <input type="hidden" name="step_id" value="{{step.id}}">
                        <a class='link' href="{% url 'potluck:delete_step' step_id=step.id recipe_id=recipe.id %}">Delete Step</a>
                        <!-- <input type="submit" value="Update Step"> -->
                    </form>
                </div>
            {% endfor %}
            <hr>
            <div id="new_step">
                <h3>Add a Step</h3>
                <form id='new_step_form' class='new_step' action="{% url 'potluck:add_step' %}" method="post">
                    {% csrf_token %}
                    <label>Step #{{step_count}}</label>
                    <label>Measurement: <select name='measurement'>
                        {% for measurement in measurements %}
                            <option value="{{measurement.id}}">{{measurement.measurement}}</option>
                        {% endfor %}
                    </select></label>
                    <input type="text" name="new_measurement" placeholder="Add new measurement">
                    <label>Ingredient: <select name='ingredient'>
                        {% for ingredient in ingredients %}
                        <option value="{{ingredient.id}}">{{ingredient.ingredient}}</option>
                        {% endfor %}
                    </select></label>
                    <input type="text" name="new_ingredient" placeholder="Add new ingredient">
                    <label>Description: <textarea name="description" rows="3" cols="25"></textarea></label>
                    <input type="hidden" name="recipe_id" value="{{recipe.id}}">
                    <input type="submit" value="Add Step">
                </form>
            </div>
        </div>
    </body>
</html>










<!--  -->
