<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Add Your recipe!</title>
        <link rel="stylesheet" href="../../static/cooking_app/css/bootstrap.min.css">
        <script src="../../static/cooking_app/js/jquery-3.1.1.min.js" charset="utf-8"></script>
        <script src="../../static/cooking_app/js/bootstrap.min.js" charset="utf-8"></script>
        {% load staticfiles %}
        <script src="{% static 'cooking_app/js/js.cookie.js' %}"></script>
        <link rel="stylesheet" href="../../static/cooking_app/css/add.css">
        <script>
            $(document).ready(function(){
                $('#steps').on('submit', '#new_step_form', function(e){
                    e.preventDefault();
                    $.post(this.action, $(this).serialize(), function(serverResponse){
                        $('#steps').html($(serverResponse).find('#steps').html())
                    });
                });
                $('#form').on('focusout', '#update_recipe_form', function(){
                    $.post(this.action, $(this).serialize(), function(serverResponse){
                        // TODO: Show any errors
                    });
                });
                $('#steps').on('focusout', '.update_step', function(){
                    $.post(this.action, $(this).serialize(), function(serverResponse){
                        // TODO: if new measurement/ingredient was added update that
                    });
                });
                $('#steps').on('click', '.link', function(e){
                    e.preventDefault();
                    $.get($(this).attr('href'), function(serverResponse){
                        $('#div_'+serverResponse.to_delete).siblings().find('.divider').prevObject[2].remove();
                        $('#div_'+serverResponse.to_delete).remove();
                    });
                });
            });
        </script>
    </head>
    <body>
        <div class="container">
            <div class="container-fluid">
                <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                            </button>
                            <a class="navbar-brand" href="{% url 'main:index' %}"><img src="../../static/cooking_app/images/gold1.png" alt=""></a>
            				<p class='navbar-text navbar-left'>Hello, {{user.first_name}}!</p>
                        </div>
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="{% url 'main:index' %}">Home</a></li>
                                <li><a href="{% url 'main:show_user' id=request.session.id %}">Profile</a></li>
                                <li><a href="{% url 'main:add_recipe' %}">Add a Recipe</a></li>
                                <li><a href="{% url 'main:search' %}">Search</a></li>
                                <li><a href="{% url 'loginReg:logout' %}">Logout</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <div class="main">
                    <div id="header">
                        <h1>Edit your Recipe!</h1>
                        <p class='para'>Here you are able to edit your own recipe and add anything that you may have missed!</p>
                    </div>

                    {% if messages %}
                        {% for message in messages %}
                            <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                        {% endfor %}
                    {% endif %}

                    <div>
                        <div id="form">
                            <form id="update_recipe_form" action="{% url 'main:edit_recipe' recipe_id=recipe.id%}" method="post" class='form-horizontal edit'>
                                {% csrf_token %}
                                <div class="form-group">
                                    <label>Recipe Title: <input type="text" name="title" value="{{recipe.title}}" class='form-control'></label>
                                </div>
                                <div class="form-group">
                                    <label>Prep Time: <input type="number" name="prep_time_hour" value="{{recipe.prep_time_hour}}" min="0" class='form-control inline time'> hrs </label>
                                    <label><input type="number" name="prep_time_minute" value="{{recipe.prep_time_minute}}" min="0" class='form-control inline time'> min</label><br>
                                </div>
                                <div class="form-group">
                                    <label>Cook Time: <input type="number" name="cook_time_hour" value="{{recipe.cook_time_hour}}" min="0" class='form-control inline time'> hrs</label>
                                    <label><input type="number" name="cook_time_minute" value="{{recipe.cook_time_minute}}" min="0" class='form-control inline time'> min</label><br>
                                </div>
                                <div class="form-group">
                                    <label><span class="vert_align">Description:</span> <textarea name="description" rows="3" cols="25" class='form-control'>{{recipe.description}}</textarea></label><br>
                                </div>
                                <div class="form-group">
                                    <p><label>Categories:</label></p>
                                    {% for category in categories %}
                                        {% if category in recipe.categories.all %}
                                            <input class='checkbox inline' type="checkbox" name="{{category.category}}" value="{{category.id}}" checked> {{category.category}}
                                        {% else %}
                                            <input class='checkbox inline' type="checkbox" name="{{category.category}}" value="{{category.id}}"> {{category.category}}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </form>
                            <a href="{% url 'main:delete_recipe' recipe_id=recipe.id %}"><button class='btn btn-danger'>Delete Recipe</button></a> <a href="{% url 'main:show_recipe' recipe_id=recipe.id %}"><button class='btn btn-success'>View Recipe</button></a>
                            <div class="foodpic">
                                {% if recipe.recipe_image %}
                                    <img id="recipe_img" class='img-responsive' src="{{recipe.recipe_image.image.url}}">
                                {% endif %}
                            </div>
                        </div>
                        <!-- add form to update food pic -->
                        <!--         <form enctype="multipart/form-data" action="{% url 'main:edit_recipe' recipe_id=recipe.id %}" method="post">
                        {% csrf_token %}
                        <label>Change Image: <input type="file" name="image"></label><br>
                        <input type="submit" value="Update Image">
                        </form> -->
                    </div>
                    <hr>
                    <div id="steps">
                        <h3>Update your steps</h3>
                        <div class="row">
                            <p class="col-sm-1 bold">Step #</p>
                            <p class="col-sm-3 bold">Measurement</p>
                            <p class="col-sm-3 bold">Ingredient</p>
                            <p class="col-sm-3 bold">Description</p>
                            <p class="col-sm-2 bold">Actions</p>
                        </div>
                        {% for step in recipe.steps.all %}
                            <div id='div_{{step.id}}' class='row'>
                                <form id='{{step.id}}' class='update_step' action="{% url 'main:update_step' step_id=step.id%}" method="post">
                                    {% csrf_token %}
                                    <p class="col-sm-1">{{ forloop.counter }}</p>
                                    <div class="col-sm-3">
                                        <select name='measurement'>
                                            {% for measurement in measurements %}
                                                {% if measurement ==  step.measurement %}
                                                    <option selected="selected" value="{{measurement.id}}">{{measurement.measurement}}</option>
                                                {% else %}
                                                    <option value="{{measurement.id}}">{{measurement.measurement}}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                        <input type="text" name="new_measurement" placeholder="Add new measurement" class='form-control'>
                                    </div>
                                    <div class="col-sm-3">
                                        <select name='ingredient'>
                                            {% for ingredient in ingredients %}
                                                {% if ingredient == step.ingredient %}
                                                    <option selected="selected" value="{{ingredient.id}}">{{ingredient.ingredient}}</option>
                                                {% else %}
                                                    <option value="{{ingredient.id}}">{{ingredient.ingredient}}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                        <input type="text" name="new_ingredient" placeholder="Add new ingredient" class='form-control'>
                                    </div>
                                    <div class="col-sm-3">
                                        <textarea name="description" rows="2" cols="25" class='form-control'>{{step.description}}</textarea></label>
                                        <input type="hidden" name="step_id" value="{{step.id}}">
                                    </div>
                                </form>
                                <div class="col-sm-2">
                                    <a class='link' href="{% url 'main:delete_step' step_id=step.id %}"><button class='btn btn-danger'>Delete Step</button></a>
                                </div>
                            </div>
                            <!-- <div class="divider"> -->
                                <!-- <div class="spacing"></div> -->
                                <hr>
                                <!-- <div class="spacing"></div> -->
                            <!-- </div> -->
                        {% endfor %}
                        <div class="row">
                            <form id='new_step_form' class='new_step form-horizontal' action="{% url 'main:add_step' %}" method="post">
                                {% csrf_token %}
                                <p class="col-sm-1">Add New</p>
                                <div class="col-sm-3">
                                    <select name='measurement'>
                                        {% for measurement in measurements %}
                                        <option value="{{measurement.id}}">{{measurement.measurement}}</option>
                                        {% endfor %}
                                    </select>
                                    <input type="text" name="new_measurement" placeholder="Add new measurement" class='form-control'>
                                </div>
                                <div class="col-sm-3">
                                    <select name='ingredient'>
                                        {% for ingredient in ingredients %}
                                        <option value="{{ingredient.id}}">{{ingredient.ingredient}}</option>
                                        {% endfor %}
                                    </select>
                                    <input type="text" name="new_ingredient" placeholder="Add new ingredient" class='form-control'>
                                </div>
                                <div class="col-sm-3">
                                    <textarea name="description" rows="2" cols="25" class='form-control'></textarea>
                                    <input type="hidden" name="recipe_id" value="{{recipe.id}}">
                                </div>
                                <div class="col-sm-2">
                                    <input type="submit" value="Add Step" class='btn btn-success'>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>










<!--  -->
