<!DOCTYPE html>
<html>
<head>
	<title>potluck</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
<!-- 	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"> -->

	{% load staticfiles %}
	<script src="{% static 'cooking_app/css/bootstrap.min.css' %}" rel="stylesheet"></script>

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


</head>
<style type="text/css">
	a:visited {
		color: black;
	}
	#header li{
		list-style: none;
		display: inline-block;
		margin-right: 20px;
	}
	#header{
		display:inline-block;
		text-align: center;
		width: 100%;
	}
	#title {
		font-size: 2em;
	}
	#name {
		font-size: 1.25em;
		text-decoration: none;
	}
	#recipe {
		margin-left: 25px
	}
	.recipe_info, #recipe img{
		display: inline-block;
	}
	.recipe_img {
		vertical-align: top;
	}
</style>
<body>
	<div id="header">
		<p>Welcome to <span id="title">potLuck</span>,</p>
		<p>Hello <a id="name" href="{% url 'potluck:show_user' id=user.id %}">{{user.first_name}}</a>!</p>
		<ul>
			<li><a href="{% url 'potluck:index' %}">Home</a></li>
			<li><a href="{% url 'potluck:show_user' id=request.session.id %}">Profile</a></li>
			<li><a href="{% url 'potluck:add_recipe' %}">Add a Recipe</a></li>
			<li><a href="{% url 'potluck:search' %}">Search</a></li>
			<li><a href="{% url 'potluck:logout' %}">Logout</a></li>
		</ul>
	</div>
	<h2>What's on today's menu?</h2>
	<div id="recipe">
		{% for recipe in recipes %}
			<h3>{{recipe.title}}</h3>
			{% for image in images %}
				{% if image.recipe == recipe %}
					<img class='recipe_img'style="width: auto; height: 150px;" src="/{{image.image.url}}">
				{% endif %}
			{% endfor %}
			<div class='recipe_info'>
				<p><b>Prep Time:</b> {{recipe.prep_time_hour}} hour(s), {{recipe.prep_time_minute}} minutes.</p>
				<p><b>Cook Time:</b> {{recipe.cook_time_hour}} hour(s), {{recipe.cook_time_minute}} minutes.</p>
				<p><b>Created by: </b><a href="{% url 'potluck:show_user' id=recipe.creator.id %}">{{recipe.creator.first_name}} {{recipe.creator.last_name}}</a></p>
				<a href="{% url 'potluck:show_recipe' recipe_id=recipe.id %}">Ingredient List</a>
			</div>
			<br>
			<hr>
		{% endfor %}
	</div>
</body>
</html>
