<!DOCTYPE html>
<html>
<head>
	<title>potluck/login</title>
	<!-- Latest compiled and minified CSS -->
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->

	<!-- Optional theme -->
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"> -->

	<!-- Latest compiled and minified JavaScript -->
	<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> -->
	<link rel="stylesheet" href="../../static/cooking_app/css/bootstrap.min.css">
	<link rel="stylesheet" href="../../static/cooking_app/css/logreg.css">
	<script src="../../static/cooking_app/js/jquery-3.1.1.min.js" charset="utf-8"></script>
	<script src="../../static/cooking_app/js/bootstrap.min.js" charset="utf-8"></script>
	<style>
		a:link{
			color: black;
		}
	</style>
</head>
<body>

	<div class='container'>
		<div id="header">
			<h1><img src="../../static/cooking_app/images/gold1.png" alt=""><span id="title">potLuck</span></h1>
			<p>Because shared food is best food</p>
		</div>
		<div id="form">
			<h3>Login</h3>
			<form action="{% url 'potluck:login' %}" method="post" class='form-horizontal'>
				{% csrf_token %}
				<div class="form-group">
					<div class="col-sm-12 col-md-12 col-lg-12">
						<p>Email:	<input type="text" name="email" class='form-control'></p>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-12 col-md-12 col-lg-12">
						<p>Password:<input type="password" name="password" class='form-control'></p>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-10">
						<input type="submit" value="Login" class='btn btn-danger'>
					</div>
				</div>
			</form>
		<!-- </div> -->

			{% if messages %}
			<ul class="messages">
			    {% for message in messages %}
			    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
			    {% endfor %}
			</ul>
			{% endif %}

			<br>
			<a href="{% url 'potluck:register' %}">not a member? register here for free!</a>
		</div>
	</div>
</body>
</html>
