<!DOCTYPE html>
<html>
<head>
	<title>Search</title>
	<link rel="stylesheet" href="../../static/cooking_app/css/bootstrap.min.css">
	<link rel="stylesheet" href="../../static/cooking_app/css/search.css">
	<script src="../../static/cooking_app/js/jquery-3.1.1.min.js" charset="utf-8"></script>
	<script src="../../static/cooking_app/js/bootstrap.min.js" charset="utf-8"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$('#searchForm').submit(function(e){
				e.preventDefault()
				$.post(this.action, $(this).serialize(), function(serverResponse){
					$('#recipe_results').html($(serverResponse).find('#recipe_results'))
				})
			});

			$('#searchForm select').change(function(){
				var form = $('#searchForm')
				$.post(form.action, $(form).serialize(), function(serverResponse){
					$('#recipe_results').html($(serverResponse).find('#recipe_results'))
				})
			});
		});
	</script>
</head>
<body>
	<div class="container">
		<div class="container-fluid">
			<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
						</button>
						<a class="navbar-brand" href="{% url 'main:index' %}"><img src="../../static/cooking_app/images/gold1.png" alt=""></a>
						<p class='navbar-text navbar-left'>Hello, {{user.first_name}}!</p>
					</div>
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav navbar-right">
							<li><a href="{% url 'main:index' %}">Home</a></li>
							<li><a href="{% url 'main:show_user' id=request.session.id %}">Profile</a></li>
							<li><a href="{% url 'main:add_recipe' %}">Add a Recipe</a></li>
							<li><a href="{% url 'main:search' %}">Search</a></li>
							<li><a href="{% url 'loginReg:logout' %}">Logout</a></li>
						</ul>
					</div>
				</div>
			</nav>
			<div class="main">
				<div id="searchbar">
					<div class="row">
						<div class="search-form row">
							<h3>Search By Category and Keyword</h3>
							<form id='searchForm' action="{% url 'main:search' %}" method="post" class='form-inline'>
								{% csrf_token %}
								<div class="input-group">
									<select name='category' class="form-control">
										<option value="noCategory">All Categories</option>
										{% for category in categories %}
											<option value="{{category.id}}">{{category.category}}</option>
										{% endfor %}
							    	</select>
								</div>
								<div class="input-group col-xs-9">
									<input type="text" name="search" placeholder="Search by title or description..." class='form-control'>
									<span class="input-group-btn">
										<input type="submit" value="Search" class='btn btn-danger'>
									</span>
								</div>
							</form>
				 		 </div>
					 </div>
				</div>

				<div id="recipe_results">
					{% for recipe in results %}
						<div class="recipe">
							<h3>{{recipe.title}}</h3>
							{% if recipe.recipe_image %}
								<img style="width: auto; height: 150px;" src="/{{recipe.recipe_image.image.url}}">
							{% endif %}

							<div class="user_recipe_info">
								<p><b>Prep Time:</b> {{recipe.prep_time_hour}} hours, {{recipe.prep_time_minute}} minutes.</p>
								<p><b>Cook Time:</b> {{recipe.cook_time_hour}} hours, {{recipe.cook_time_minute}} minutes.</p>
								<p><b>Description: </b>{{recipe.description}}</p>
								<p><a class='ingredient' href="{% url 'main:show_recipe' recipe_id=recipe.id %}">Ingredient List</a></p>
								{% if request.session.id == recipe.creator.id %}
									<a href="{% url 'main:edit_recipe' recipe_id=recipe.id %}"><button class='btn btn-danger'>Edit Recipe</button></a>
								{% endif %}
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</body>
</html>
