<!DOCTYPE html>
<html>
<head>
	<title>Search</title>
</head>
<style type="text/css">
	a:visited {
		color: black;
	}
	#header li{
		list-style: none;
		display: inline-block;
		margin-right: 20px;
	}
	#header{
		display:inline-block;
		text-align: center;
		width: 100%;
	}
	#title {
		font-size: 2em;
	}
	#name {
		font-size: 1.25em;
		text-decoration: none;
	}
	#recipe {
		margin-left: 25px
	}
	.recipe_info, #recipe img{
		display: inline-block;
	}
</style>
<body>

	<div id="header">
		<p>Welcome to <span id="title">potLuck</span>,</p>
		<p>Hello <a id="name" href="{% url 'potluck:show_user' id=user.id %}">{{user.first_name}}</a>!</p>
		<ul>
			<li><a href="{% url 'potluck:index' %}">Home</a></li>
			<li><a href="{% url 'potluck:show_user' id=request.session.id %}">Profile</a></li>
			<li><a href="{% url 'potluck:add_recipe' %}">Add a Recipe</a></li>
			<li><a href="{% url 'potluck:logout' %}">Logout</a></li>
			<li><a href="{% url 'potluck:search' %}">Search</a></li>
		</ul>
	</div>
	<div id="searchbar">
		<h3>Search By Title or Description</h3>
		<form method="post" action="{% url 'potluck:search' %}">
			{% csrf_token %}
			<input type="text" name="search" placeholder="Search...">
			<input type="submit" value="Search">
		</form>
	</div>
	{% if keyword != '' %}
	<p>Showing results filtered by keyword "{{keyword}}"...</p>
	{% endif %}
	<div id="recipe_results">
		{% for recipe in results %}
			<h3>{{recipe.title}}</h3>
			{% for image in images %}
				{% if image.recipe == recipe %}
					<img style="width: auto; height: 150px;" src="/{{image.image.url}}">
				{% endif %}
			{% endfor %}
			<div class="user_recipe_info">
				<p><b>Prep Time:</b> {{recipe.prep_time_hour}} hours, {{recipe.prep_time_minute}} minutes.</p>
				<p><b>Cook Time:</b> {{recipe.cook_time_hour}} hours, {{recipe.cook_time_minute}} minutes.</p>
				<p><a href="{% url 'potluck:show_recipe' recipe_id=recipe.id %}">Ingredient List</a></p>
				{% if request.session.id == recipe.creator.id %}
				<a href="{% url 'potluck:edit_recipe' recipe_id=recipe.id %}"><button>Edit Recipe</button></a>
				{% endif %}
			</div>
			<br>
			<hr>
		{% endfor %}
	</div>
</body>
</html>