<!DOCTYPE html>
<html>
<head>
	<title>Profile</title>
</head>
<style type="text/css">
	a:visited {
		color: black;
	}
	#header li{
		list-style: none;
		display: inline-block;
		margin-right: 20px;
	}
	#header{
		display:inline-block;
		text-align: center;
		width: 1080px;
	}
	#title {
		font-size: 2em;
	}
	#name {
		font-size: 1.25em;
		text-decoration: none;
	}
	#user_recipe, #saved_recipe{
		margin-left: 25px
	}
</style>
<body>

	<div id="header">
		<p><a id="name" href="{% url 'potluck:show_user' id=request.session.id %}">{{user.first_name}}'s Profile</a></p>
		<ul>
			<li><a href="{% url 'potluck:index' %}">Home</a></li>
			<li><a href="{% url 'potluck:show_user' id=request.session.id %}">Profile</a></li>
			<li><a href="{% url 'potluck:logout' %}">Logout</a></li>
		</ul>
	</div>
	<h2>User Recipe's</h2>
	<div id="user_recipe">
		{% for recipe in recipes %}
			<h3>{{recipe.title}}</h3>
			<a href="{% url 'potluck:show_recipe' recipe_id=recipe.id %}">Ingredient List</a>
			<p><b>Prep Time:</b> {{recipe.prep_time_hour}} hours, {{recipe.prep_time_minute}} minutes.</p>
			<p><b>Cook Time:</b> {{recipe.cook_time_hour}} hours, {{recipe.cook_time_minute}} minutes.</p>
			<p>Rating:</p>
		{% endfor %}
	</div>
	<h2>Saved Recipes</h2>
	<div id="saved_recipe">
		<h3>{{recipe.title}}</h3>
		<a href="{% url 'potluck:show_recipe' recipe_id=recipe.id }">Ingredient List</a>
		<p><b>Prep Time:</b> {{recipe.prep_time_hour}} hours, {{recipe.prep_time_minute}} minutes.</p>
		<p><b>Cook Time:</b> {{recipe.cook_time_hour}} hours, {{recipe.cook_time_minute}} minutes.</p>
		<p>Rating:</p>
	</div>
</body>
</html>
