<!DOCTYPE html>
<html>
<head>
	<title>Recipe</title>
</head>
<style type="text/css">
	a:visited {
		color: black;
	}
	#header li{
		list-style: none;
		display: inline-block;
		margin-right: 20px;
	}
	#header{
		display:inline-block;
		text-align: center;
		width: 1400px;
	}
	#title {
		font-size: 2em;
	}
	#name {
		font-size: 1.25em;
		text-decoration: none;
	}
	#user_recipe, #saved_recipe{
		margin-left: 25px
	}
	img, #info{
		display: inline-block;
	}
</style>
<body>

	<div id="header">
		<h1>{{recipe.title}}</h1>
		<ul>
			<li><a href="{% url 'potluck:index' %}">Home</a></li>
			<li><a href="{% url 'potluck:show_user' id=request.session.id %}">Profile</a></li>
			<li><a href="{% url 'potluck:add_recipe' %}">Add a Recipe</a></li>
			<li><a href="{% url 'potluck:logout' %}">Logout</a></li>
		</ul>
	</div>
	
	<div id="info">

		{% if avg_rating == 'No ratings yet.' %}
			<p><b>{{avg_rating}}</b></p>
		{% else %}
			<p><b>Rating: {{avg_rating|floatformat}} / 5</b></p>
		{% endif %}

		{% if request.session.id != recipe.creator.id %}
			<form action="{% url 'potluck:add_rating' recipe_id=recipe.id%}" method="post">
	        {% csrf_token %}
	            <select name="rating">
	                <option value='1'>1</option>
	                <option value='2'>2</option>
	                <option value='3'>3</option>
	                <option value='4'>4</option>
	                <option value='5'>5</option>
	            </select>
	            <input type="submit" value="Rate Meal">
	        </form>
	        <p><a href="{% url 'potluck:save_recipe' recipe_id=recipe.id %}">Save This Recipe</a></p>
	    {% endif %}
		<p><b>Prep Time:</b> {{recipe.prep_time_hour}} hour(s), {{recipe.prep_time_minute}} minutes.</p>
		<p><b>Cook Time:</b> {{recipe.cook_time_hour}}  hour(s), {{recipe.cook_time_minute}} minutes.</p>
		<p><b>Total Time:</b> {{total_time_hour}} hour(s), {{total_time_minute}} minutes.</p>
	</div>
	<p><b>Steps:</b></p>
	<ol>
		{% for step in steps %}
		<li>{{step.measurement.measurement}} of {{step.ingredient.ingredient}}; <br>{{step.description}}</li>
		{% endfor %}
	</ol>
	<hr>
	<div id="ingredient">
	{% if request.session.id == recipe.creator %}
		<a href=""><button>Edit this Recipe</button></a>
	{% endif %}
	</div>
	<div id="comments">
		{% if comments %}
			{% for comment in comments %}
			<p>{{comment.created_at}}: {{ comment.user.first_name }} wrote... </p>
			<p>{{ comment.comment }}</p>
			{% endfor %}
		{% endif %}
	</div>
	<form action="{% url 'potluck:show_recipe' recipe_id=recipe.id %}" method="post">
	{% csrf_token %}
	<textarea name='comment' rows="5" cols="25" placeholder="Write a comment..."></textarea>
	<input type="submit" value="Post">
	</form>

</body>
</html>
