<!DOCTYPE html>
<html>
<head>
	<title>Recipe</title>
	<link rel="stylesheet" href="../../static/cooking_app/css/bootstrap.min.css">
	<link rel="stylesheet" href="../../static/cooking_app/css/add.css">
	<script src="../../static/cooking_app/js/jquery-3.1.1.min.js" charset="utf-8"></script>
	<script src="../../static/cooking_app/js/bootstrap.min.js" charset="utf-8"></script>
</head>
<body>
	<div class="container">
		<div class="container-fluid">
			<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
						</button>
						<a class="navbar-brand" href="{% url 'main:index' %}"><img src="../../static/cooking_app/images/gold1.png" alt=""></a>
						<p class='navbar-text navbar-left'>Hello, {{user.first_name}}!</p>
					</div>
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav navbar-right">
							<li><a href="{% url 'main:index' %}">Home</a></li>
							<li><a href="{% url 'main:show_user' id=request.session.id %}">Profile</a></li>
							<li><a href="{% url 'main:add_recipe' %}">Add a Recipe</a></li>
							<li><a href="{% url 'main:search' %}">Search</a></li>
							<li><a href="{% url 'loginReg:logout' %}">Logout</a></li>
						</ul>
					</div>
				</div>
			</nav>
			<div class="main">
				<h1>{{recipe.title}}</h1>
			<div id="info">
				{% if recipe.recipe_image %}
					<div class="bg">
						<img id="recipe_img" style="width: auto; height: 150px;" src="/{{recipe.recipe_image.image.url}}">
					</div>
				{% endif %}
				<div class="info">
					{% if avg_rating == 'No ratings yet.' %}
						<p><b>{{avg_rating}}</b></p>
					{% else %}
						<p><b>Rating: {{avg_rating|floatformat}} / 5</b></p>
					{% endif %}
					{% if request.session.id != recipe.creator.id and rating %}
						<form action="{% url 'main:add_rating' recipe_id=recipe.id%}" method="post" class='form-inline'>
							{% csrf_token %}
							<div class="form-group">
								<select name="rating" class='form-control'>
									<option value='1'>1</option>
									<option value='2'>2</option>
									<option value='3'>3</option>
									<option value='4'>4</option>
									<option value='5'>5</option>
								</select>
							</div>
							<div class="form-group">
								<input type="submit" value="Rate Meal" class='btn btn-danger'>
							</div>
						</form>
					{% endif %}
					{% if request.session.id != recipe.creator.id %}
						<p><a href="{% url 'main:save_recipe' recipe_id=recipe.id %}">Save This Recipe</a></p>
					{% endif %}
					<p><b>Prep Time:</b> {{recipe.prep_time_hour}} hour(s), {{recipe.prep_time_minute}} minutes.</p>
					<p><b>Cook Time:</b> {{recipe.cook_time_hour}}  hour(s), {{recipe.cook_time_minute}} minutes.</p>
					<p><b>Total Time:</b> {{total_time_hour}} hour(s), {{total_time_minute}} minutes.</p>
					<p><b>Description: </b>{{recipe.description}}</p>
					<p><b>Categories:</b>
						{% for category in recipe.categories.all %}
							{% if recipe.categories.all|length > 1 and forloop.counter < recipe.categories.all|length %}
								{{category.category}},
							{% else %}
								{{category.category}}
							{% endif %}
						{% endfor %}
					</p>
					{% if request.session.id == recipe.creator.id %}
					<a href="{% url 'main:edit_recipe' recipe_id=recipe.id %}"><button class='btn btn-danger'>Edit this Recipe</button></a>
					{% endif %}
				</div>
			</div>
			<hr>
			<div class="steps">
				<p><b>Steps:</b></p>
				<ol>
					{% for step in recipe.steps.all %}
					<li>{{step.measurement.measurement}} of {{step.ingredient.ingredient}} <br>{{step.description}}</li>
					{% endfor %}
				</ol>
				<hr>
			</div>
			<h3> Comments </h3>
			<div id="comments">
				{% for comment in recipe.comments.all %}
					<p>{{comment.created_at}} <b>{{ comment.user.first_name }}</b> commented: </p>
					<p class='comment'>{{ comment.comment }}</p>
				{% endfor %}
			</div>
			<h4>Add a comment:</h4>
			<form action="{% url 'main:show_recipe' recipe_id=recipe.id %}" method="post" class='form-horizontal'>
				{% csrf_token %}
				<div class="form-group">
					<textarea class='from-control' name='comment' rows="5" cols="25" placeholder="Write a comment..."></textarea>
				</div>
				<div class="form-group">
					<input type="submit" value="Post" class='btn btn-danger'>
				</div>
			</form>
		</div>
	</div>
</div>

</body>
</html>
